* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  }

body{
  padding: 20px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 30%)), url(./src/img/fondoHilarte.png);
  background-size: cover;
  background-position: initial;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header{
  max-width: 500px;
  width: 100%;
}

main{
  max-width: 500px;
  width: 100%;
}


.padre_info_header {
  display: flex;
  flex-direction: row;
  padding: 8px;
  width: 100%;
}

.info_header {
  display: inline-block;
  display: flex;
  gap: 30px;
  align-items: center
}

.info_header .logo {
  width: 100px;
  border-radius: 50%;  
}

.info_header_texto h3 {
  color: #AC4FC6;
  size: 1em;
}

.info_header_texto span {
  color: #B565A7;
}

.info_header_contacto{
  gap: 10px;
  display: flex;
  align-items: center;
  padding: 10px
}

.info_header_contacto img{
  width: 25px;
}

.item_welcome{
  display: flex;
  align-items: center;
  background-color: #F1E6B2;
  border-radius: 10px;
  padding: 10px;
}





