@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:"Quicksand";
  }

body{
  padding: 20px;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 30%)), url(./src/img/fondoHilarte.png);
  background-size: cover;
  background-position: initial;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header{
  max-width: 500px;
  width: 100%;
}

main{
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.padre_info_header {
  display: flex;
  flex-direction: row;
  padding: 8px;
  width: 100%;
}

.info_header {
  display: inline-block;
  display: flex;
  gap: 30px;
  align-items: center
}

.info_header .logo {
  width: 100px;
  border-radius: 50%;  
}

.info_header_texto h3 {
  color: #AC4FC6;
}

.info_header_texto span {
  color: #B565A7;
}

.info_header_contacto{
  gap: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
}

.info_header_contacto .titulo{
  color: #9569BE;
}

.info_header_contacto img{
  width: 25px;
}

.item_welcome{
  display: flex;
  align-items: center;
  background-color: #F1E6B2;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.box_container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box_class{
  background-color: #F1A7DC;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px #AC4FC6;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  gap: 10px;
}

.box_class img{
  width: 40px;
  
}

.texto{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center
}

.texto .titulo{
  color: #9569BE;
}

.texto .subtitulo{
  color:black;
}


.box_green {
  background-color: #9CDBD9;
}

.box_yellow{
  background-color: #F1E6B2;
}

.box_pink{
  background-color: #F1A7DC;
}

.box_video{
  width: 100%;
  max-width: 500px;
  height: 315px;
  border-radius: 10px;
  border: solid 1px #AC4FC6;


}